/* CUSTOM-PROPERTY */
:root{
  --heading-color: #34313D;
  --font-color: #fff;
  --primary-color:  #2BD0D0;
}

/* FONTS */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/poppins-v19-latin-500.woff2') format('woff2'),
       url('../fonts/poppins-v19-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/poppins-v19-latin-700.woff2') format('woff2'),
       url('../fonts/poppins-v19-latin-700.woff') format('woff');
}

/* GLOBAL-STYLES */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
*,*::after,*::before{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Poppins","Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #9E9AA8;
  background-color: var(--font-color);
}
img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
* :focus{
  outline-offset: 5px;
}
.button{
  display: inline-block;
  border-radius: 28px;
  border: 0;
  color: var(--font-color);
  background-color: var(--primary-color);
  transition: background-color 0.4s ease, opacity 0.4s ease;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}
.button:hover{
  background-color: #9AE3E3;
}
.button:active{
  opacity: 0.6;
}

/* CONTAINER  */
.container{
  max-width: 1210px;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

/* MAIN CONTENT  */
.main-content{
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
  padding-top: 48px;
}
.site-header__container {
  display: flex;
  align-items: center;
}
.site-header__logo{
  margin-right: 46px;
}
.logo{
  flex-shrink: 0;
  display: flex;
  transition: opacity 0.4s ease;
}
.logo:hover{
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}
.logo__img {
  width: 121px;
  height: 33px;
}
.site-header__sitenav{
  margin-right: auto;
}
.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__item:not(:last-child) {
  margin-right: 30px;
}
.sitenav__link {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #9E9AA8;
  transition: color 0.4s ease, opacity 0.4s ease;
  text-decoration: none;
}
.sitenav__link:hover{
  color: var(--heading-color);
}
.sitenav__link:active{
  opacity: 0.8;
}
.site-header__login {
  display: inline-block;
  margin-right: 37px;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #9E9AA8;
  text-decoration: none;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.site-header__login:hover{
  color: #232127;
}
.site-header__login:active{
  opacity: 0.6;
}
.site-header__button {
  padding: 9px 24px;
}

/* HERO */
.hero {
  margin-bottom: 85px;
  padding-top: 138px;
  padding-bottom: 138px;
  background-image: url("../imgs/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 470px) center;
  background-size: 733px 482px;
}
.hero__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.hero__content {
  width: 565px;
}
.hero__heading {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
  color: var(--heading-color);
}
.hero__text {
  margin-top: 0;
  margin-bottom: 38px;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
}
.hero__button {
  padding: 14px 40px;
}


/* SHORTEN */
.shorten {
  display: flex;
  position: relative;
  background-color: #EFF1F7;
}
.shorten__form {
  position: relative;
  margin-top: -84px;
}
.shorten__inner{
  padding: 52px 64px;
  border-radius: 10px;
  background-color: #3A3054;
  background-image: url("../imgs/cta-bg.svg");
}
.shorten__input {
  max-width: 770px;
  width: 100%;
  margin: 0;
  margin-right: 24px;
  padding: 11px 32px;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  border: 3px solid var(--font-color);
  border-radius: 10px;
}
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder{
  color: rgba(52, 49, 61, .5);
  opacity: 1;
}
.shorten__input:not(:focus):not(:placeholder-shown):valid {
  border-color: var(--font-color);
}
.shorten__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: #F46363;
  color: #F46363;
}
.shorten__input:focus + .validation-error,
.shorten__input:valid + .validation-error,
.shorten__input:placeholder-shown + .validation-error {
  display: none;
}
.shorten__input:-webkit-autofill,
.shorten__input:-webkit-autofill:hover,
.shorten__input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--font-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}
.shorten__error-msg{
  position: absolute;
  display: none;
  top: 124px;
  left: 64px;
  font-style: italic;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.109091px;
  color:#F46363;
}
.shorten__input:not(:focus):not(:placeholder-shown):invalid ~ .shorten__error-msg{
  display: block;
}
.shorten__button{
  padding: 17px 40px;
  border-radius: 10px;
}
.results {
  display: none;
}
.results--open{
  display: block;
}
.results__item {
  display: flex;
  padding: 16px 24px 16px 32px;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  border-radius: 5px;
  background-color: var(--font-color);
}
.results__item:not(:last-child){
  margin-bottom: 16px;
}
.results__included {
  width: 100%;
  margin-right: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #34313D;
}
.results__link {
  color: #2BD0D0;
}
.results__button {
  margin-left: 24px;
  padding: 9px 31px;
  font-size: 15px;
  line-height: 22px;
  border-radius: 5px;
}
.button--open {
  background-color: #3A3054;
}



/* STATISTICS */
.statistics {
  padding-top: 205px;
  padding-bottom: 120px;
  background-color: #EFF1F7;
}
.statistics__heading {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: var(--heading-color);
  text-align: center;
}
.statistics__subject {
  max-width: 540px;
  width: 100%;
  margin: 0 auto 100px auto;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.122727px;
  text-align: center;
}
.statistics__inner {
  position: relative;
}
.statistics__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 208px;
  padding: 0;
  list-style: none;
}
.statistics__item {
  position: relative;
  z-index: 20;
  max-width: 350px;
  width: 100%;
}
.statistics__item:not(:last-child){
  margin-right: 30px;
}
.statistics__item:nth-child(2){
  transform: translateY(50px);
}
.statistics__item:nth-child(3){
  transform: translateY(100px);
}
.statistic-element{
  padding:  77px 32px 41px 32px;
  border-radius: 5px;
  background: var(--font-color);
}
.statistic-element__img-box{
  position: absolute;
  left: 32px;
  top: 0;
  display: inline-block;
  padding: 24px;
  border-radius: 50%;
  background-color: #3A3054;
  transform: translateY(-50%);
}
.statistic-element__img {
  display: flex;
}
.statistic-element__heading {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: var(--heading-color);
}
.statistic-element__text {
  margin-top: 0;
  margin-bottom: 0;
}
.statistics__hr {
  position: absolute;
  top: 152px;
  z-index: 3;
  width: 1110px;
  height: 8px;
  background-color: var(--primary-color);
}

/* BOOST LINKS */
.boost-links {
  background-color: #3A3054;
  background-image: url("../imgs/cta-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.boost-links__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 57px;
  padding-bottom: 57px;
}
.boost-links__heading {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: var(--font-color);
}
.boost-links__button {
  padding: 14px 40px;
}

/* FOOTER */
.site-footer {
  background-color:#232127;
}
.footer-container {
  display: flex;
  padding-top: 72px;
  padding-bottom: 72px;
}
.footer-logo-box{
  flex-grow: 1;
}
.footer-logo-link {
  display: flex;
  color: var(--font-color);
  transition: opacity 0.4s ease;
}
.footer-logo-link:hover{
  opacity: 0.8;
}
.footer-logo-link:active{
  opacity: 0.6;
}
.footer-logo {
  width: 121px;
  height: 33px;
}
.footer-box:nth-child(2) {
  margin-right: 78px;
}
.footer-box:nth-child(3) {
  margin-right: 107px;
}
.footer-box:nth-child(4) {
  margin-right: 101px;
}
.footer-heading {
  margin-top: 0;
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: var(--font-color);
}
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-item:not(:last-child) {
  margin-bottom: 10px;
}
.features-item-link {
  line-height: 22px;
  letter-spacing: -0.234375px;
  color: #BFBFBF;
  white-space: nowrap;
  transition: color 0.4s ease, opacity 0.4s ease;
  text-decoration: none;
}
.features-item-link:hover{
  color: var(--primary-color);
}
.features-item-link:active{
  opacity: 0.6;
}
.social-media-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-media-item:not(:last-child){
  margin-right: 24px;
}
.social-media-item-link {
  display: flex;
  color: var(--font-color);
  transition: color 0.4s ease, opacity 0.4s ease;
}
.social-media-item-link:hover{
  color: var(--primary-color);
}
.social-media-item-link:active{
  opacity: 0.6;
}
.social-media-item-img {
  width: 24px;
  height: 24px;
}